.fvttrc-app {}

#create-ready-check {
    max-width: 400px;
    text-align: center;
    h3 {
        text-align: center;
    }
    .form-group {
        display: flex;
        gap: 0.5rem;
        .form-fields {
            display: flex;
            & > div:first-child {
                text-align: left;
                padding-top: 0.25rem;
            }
        }
        label {
            flex: 0 0 30%;
            margin-top: 0.25rem;
        }
    }
    .buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        button {
            flex: 0 0 auto;
            padding: 1rem 2rem;
        }
    }
    .options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .time-info {
        font-size: 10pt;
        text-align: right;
        margin-top: 1rem;
        font-style: italic;
    }
}
